
-artists.each do |artist|
  .element{:class => " #{elements(artist)}  ", :'data-filter'=>"#{elements(artist)}", :style=>"background-image:url('#{artist_image(artist)}');"}
    %p.number
      =artist.id
    %h3.symbol
      =#artist.name.split(' ').map { |x| x.split('').first.upcase }.join[0,1] + artist.name[-1]
    %h2.name
      =artist.name
    %p.weight
      =artist.id

