.row
  %ol
    -Artist.all.sort_by(&:name).group_by(&:initial).each do |initial, artists|
      %li
        = content_tag(:h3, initial)
        - artists.each do |artist|
          %ul
            %li
              = link_to(artist.name, artist)





