
.row
  .large-12.columns

    %h1
      =@festival.name

.artists-wrapper
  = render :partial => 'artists', :locals => { :artists => @artists }

.row
  .large-12-columns#gallery
    = link_to 'Load More Artists', festival_artists_path(@festival.id, :page => @artists.next_page), :class=>"load-more-artists", :remote => true if @artists.next_page
