.row
  .large-12.columns

    %h1

-@festivals.in_groups_of(3, false).each do |group|
  .row
    - group.each do |festival|
      .large-4.columns
        .panel
          %p
            = festival.name







