// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 span{
   position: absolute;
   top: 220px;
   left: 50px;
   width: 100%;
   color: #ffffff;
}


#gallery
{
     text-align:center;
}