// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

image {
  position: absolute;
}

h3 span{
   position: absolute;
   top: 100px;
   left: 50px;
   width: 60%;
   color: #ffffff;
}